.filter-bar {
  height: 60px;
  padding: 10px 25px;  
  top: 60px;
  background: #fff;
  box-shadow: 0 2px 9px -3px rgba(0,0,0,.12);
  display: flex;
  left: 0;
  right: 0;
  z-index: 1;
  position: sticky;
  box-sizing: border-box;
  align-items: center;
}

.filter-bar button {
  background-color: #fff;
  border: 1px solid #231f20;
  color: #231f20;
  cursor: no-drop;
  display: inline-block;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 700;
  height: 34px;
  margin-right: 20px;
  border-radius: 2px;
  font-size: 13px;
  line-height: 35px;
  text-transform: uppercase;
  white-space: pre-wrap;
  padding: 0 14px;
  transition: all .5s ease;
}

.filter-bar button:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}