.reservation-info {
  align-items: center;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border-radius: 30px 30px 0 0;
  flex-direction: column;
  width: 300px;
}

.cost {
  display: flex;
  flex-direction: row;
  margin-top: 21px;
}

.dollar-price {
  display: flex;
  flex-direction: row;
  font-family: Times New Roman,serif;
}

.dollar {
  font-size: 24px;
  margin-top: 10px;
}

.price {
  font-size: 62px;
}

.per-day {
  margin-top: 24px;
  padding-left: 4px;
  font-size: 16px;
  font-weight: 500;
}

.div1 {
  width: 100%;
  margin-top: 20px;
  padding: 12px 0 0 0;
  border-top: 1px solid #e6e6e6;
}

.div2a {
  text-transform: uppercase;
  color: #5d5d5d;
  font-size: 13px;
  font-family: BasisBold, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
}

.div2 {
  color: #231f20;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
}

.insurance {
  color: #59d389;
  font-weight: 700;
  height: auto;
}

.div1b {
  margin-bottom: 30px;
  width: 100%;
}

.owner-details-container {
  border-bottom: 1px solid #e6e6e6;
  margin: 20px 0;
}

.owner-details {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.owner-body {
  margin: 5px auto 10px 0;
  padding: 12px 0 0 0;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.right-side-owner-name {
  color: #8f63f4;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
}

.sidebar-response {
  margin-bottom: 15px;
  margin-top: 15px;
}

.corgi {
  background-image: url("corgi.jpg");
  height: 80px;
  width: 80px;
  background-size: 80px 80px;
  border: 2px solid #fff;
  border-radius: 999em;
  overflow: hidden;
  display: inline-block;
}

.name-pic {
  width: 215px;
  margin: 15px auto 10px 0;
}

.favorite-btn {
  width: 100%;
  border: 1px solid black;
  background: #fff;
  cursor: pointer;
  color: #231f20;
  // display: inline-block;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 700;
  height: 34px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}

.favorite-btn:hover {
  background-color: #f2f2f2;
}

.empty-heart {
  background-image: image-url('heart.png');
  background-size: contain;
  height: 15px; 
  width: 15px;
  background-repeat: no-repeat;
}

.bottom-price {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.report {
  font-size: 13px;
  color: #5d5d5d;
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
}

.report:hover {
  text-decoration:underline;
  cursor: pointer;
}

.remove-car-btn {
  width: 100%;
  border: 1px solid black;
  background: #fff;
  cursor: pointer;
  color: #231f20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 700;
  height: 34px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}

.remove-car-btn:hover {
  background-color: #CE3526;
  color: white;
  text-decoration: none;
}