.reservationBox-section{
  display: block;
  width: 100%;
}

.dateTimeRangePicker-fieldGroup{
  display: flex;
  flex-direction: column;
}

.dateTimeRangePicker-label{
  color: #231f20;
  font-size: 13px;
  font-weight: 700;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  margin-bottom: 5px;
}

.dateTimeRangePicker-dateTime{
  display: flex;
  flex-direction: row;
}

.dateTimeRangePicker-date{
  display: flex;
  align-items: center;
  border: 1px solid #c7c7c7;
  border-radius: 0;
  color: #231f20;
  font-size: 13px;
  height: 35px;
  padding-right: 10px;
  width: 100%;
}

.dateTimeRangePicker-date:after{
  background-image: image-url("arrow.png");
  background-position: -53px -44px;
  background-size: 74px 68px;
  content: "";
  height: 6px;
  pointer-events: none;
  right: 10px;
  top: 14px;
  width: 16px;
}

.dateTimeRangePicker-date input {
  padding: 0 10px 0 11px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 5px;
  width: 99%;
  height: -webkit-fill-available;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
}

.dateTimeRangePicker-date:hover input{
  text-decoration: none;
}

.dateTimeRangePicker-date > .splash-time-dropdown {
  font-size: 13px;
  font-weight: 400;
}

.trip-end {
  margin-top: 20px;
}

.rent-container {
  margin-top: 20px;
}

.rent-button {
  font-size: 16px;
  height: 44px;
  line-height: 43px;
  padding: 0 14px;
  background-color: #59d389;
  border: 1px solid #59d389;
  color: #fff;
  width: 100%;
}

.rental-container {
  margin: 50px 70px;
}

.rental-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rental-card-container {
  position: relative;
  margin-top: 40px;
  margin-right: 50px;
  width: 336px;
  min-height: 450px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.rental-index-image {
  height: 185px;
  width: 336px;
  overflow: hidden;
  border-radius: 6px 6px 0px 0px;
  transition: all .5s ease;
}

.rental-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  min-height: 115px;
  padding-bottom: 32px;
  border-bottom: 1px solid lightgray
}

.ymm-dd {
  display: flex;
  align-items: baseline;
  margin: 30px 0px 0px 0px;  
  justify-content: center;
}

.ymm {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  text-align: center;
}

.reserve-return {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 10px;
}

.rental-cancel {
  width: 75%;
  border: 1px solid #CE3526;
  background: #CE3526;
  cursor: pointer;
  color: white;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 700;
  height: 34px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rental-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87px;
}