.main-text {
  color: #231F20;
  font-weight: bold;
  padding-top: 19vh;
  font-size: 75px;
}

.sub-text {
  color: #231F20;
  font-family: BasisGrotesque, Avenir, 
  Helvetica Neue, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.main_splash_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}